@charset "utf-8";

body{
    background-color: #9DDFF9;
}

h1{
    color: #011126;
}

h2{
    color: #05AFF2;
}

#principal{
    color: white;
    text-align: center;
    background-color: #02AFF4;
    border-radius: 5px;
    border-
}